@import "./sass/variables.scss";

html,
body,
#root,
.App {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #f6f6f6 !important;
  overflow-y: auto !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-Header {
  height: 65px;
}
.App-Body {
  height: calc(100% - 65px - 45px);
}
.App-Footer {
  height: 45px;
  background-color: $hawkes_blue;
}

.MuiGrid-container {
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
